.container {
    margin-top: 5rem;
    align-items: center;
}

.container h2 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 1.6rem;
}

.informacao {
    display: flex;
    align-items: center;
}

.informacao img {
    margin-right: 1.5rem;
}

.informacao p {
    color: #B2B9FF;
    max-width: 14rem;
    line-height: 1.5rem;
}

.signIn {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr;
}

.signIn input{
    width: 18rem;
    height: 4rem;
    border-radius: 4px 0px 0px 4px;
    border: none;
    padding: 30px;
    color: var(--white);
    background-image: linear-gradient(to right, #4952b8, #5560db);
    outline: none;
}

.signIn input::-webkit-input-placeholder { 
    color: #B2B9FF;
}

.signIn button {
    height: 4rem;
    width: 4rem;
    background: #4952b8;
    border: none;
    outline: none;
    border-radius: 0px 4px 4px 0px;
    padding: 0px;
    align-items: center;
    align-content: center;
    max-width: 4rem;
    max-height: 4rem;
    display: block;
}

.signIn button img{
    height: 20px;
    width: 20px;
    margin: 0px;
     
}
